@model Exam_system.UI.ViewModels.AssignSbToStsViewModel
@{ 
    ViewBag.Title = "Assigning Students to a Subject";
}

<div class="container">
    <h3 style="text-align: center;">Assign @Model.Subject.Name to ...</h3>
</div>

@using(Html.BeginForm("Enroll", "Subject", FormMethod.Post))
{
    <div class="form-group">
        <label class="control-label col-md-2">Select Students</label>
        <div class="col-md-10">
            @if (Model.Students.Count() == 0)
            {
                <h4 style="color: #808080">
                    no students have been added yet 
                    @Html.ActionLink("add new student", "Create", "Users")
                </h4>
            }
            else
            {                
                @Html.HiddenFor(model => model.Subject.Id)
                @Html.DropDownListFor(model => model.EnrolledStudents, new SelectList(Model.Students, "Id", "Name"), new { @class = "form-control", multiple = true })
                @Html.ValidationMessageFor(model => model.EnrolledStudents, "You must enroll at least one Student", new { @class = "text-danger" })
            }
        </div>
    </div>

    <button class="btn btn-default" type="submit">Save Changes</button>
}