@model Exam_system.UI.ViewModels.QuestionAnswersViewModel
@{
    ViewBag.Title = "Create Answers";    
}
    <div class="container row">
        <div>
            <h3 style="margin-bottom: 50px;">Create New Answer</h3>
        </div>
        @using (Html.BeginForm("Create", "Answer", FormMethod.Post, new { @class = "row" }))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Answer.Content, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Answer.Content, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Answer.Content, "Content is required", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Questions, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Answer.QuestionId, new SelectList(Model.Questions, "Id", "Header"), new { @class = "form-control", onchange= "getAnswers(event)" })
                </div>
            </div>

            <div class="form-group" style="margin-top: 50px">
                @Html.LabelFor(model => model.Answer.IsCorrect, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Answer.IsCorrect)
                </div>
            </div>

            <div class="form-group">                
                <button class="btn btn-default col-md-12" type="submit">Create Answer</button>
            </div>
        }
    </div>

<table class="table table-bordered" style="margin-top: 50px;">
    <thead>
        <tr>
            <th>Content</th>                  
        </tr>
    </thead>
    <tbody id="body">
        @if (Model.CurrentQuestionAnswers.Count() == 0)
        {
            <tr>
                <td colspan="4">no answers for this question</td>
            </tr>
        }
        else
        {
            foreach (var answer in Model.CurrentQuestionAnswers)
            {
                <tr>
                    <td>@answer.Content</td>
                    @if (answer.IsCorrect == true)
                    {
                        <td style='color: green;'>Correct Answer</td>
                    }
                    else
                    {
                        <td style='color: red'>Wrong Answer</td>
                    }
                </tr>
            }
        }        
    </tbody>
</table>

@section answersScript{
    <script>
        function getAnswers(e)
        {
            $.ajax({
                url: "https://localhost:44328/Answer/AnswersOf?id=" + e.target.value,
                success: function (html) {
                    document.querySelector("#body").innerHTML = html;
                }
            });            
        }
    </script>
} 